user {{ nginx_user | default("www-data") }};
worker_processes {{ nginx_worker_processes | default("auto") }};
pid {{ nginx_pid_file | default("/run/nginx.pid") }};
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections {{ nginx_worker_connections | default(768) }};
	multi_accept {{ nginx_multi_accept | default("off") }};
}

http {
	server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size | default(64) }};
	server_tokens {{ nginx_server_tokens | default("off") }};
	sendfile {{ nginx_sendfile | default("on") }};
	tcp_nopush {{ nginx_tcp_nopush | default("on") }};
	tcp_nodelay {{ nginx_tcp_nodelay | default("on") }};
	keepalive_timeout {{ nginx_keepalive_timeout | default(65) }};
	types_hash_max_size {{ nginx_types_hash_max_size | default(2048) }};
	include /etc/nginx/mime.types;
	default_type {{ nginx_default_type | default("application/octet-stream") }};
	ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers | default("on") }};
	access_log {{ nginx_access_log | default("/var/log/nginx/access.log") }};
	error_log {{ nginx_error_log | default("/var/log/nginx/error.log") }};
	gzip {{ nginx_gzip | default("on") }};
	gzip_disable {{ nginx_gzip_disable | default("\"msie6\"") }};
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
