server {
{% for address in params.listen %}
	listen {{ address }};
{% endfor %}
	server_name{% for name in params.server_names %} {{ name }}{% endfor %};
{% for include in params.includes | default([]) %}
	include {{ include }};
{% endfor %}
	access_log {{ nginx_log_dir | default("/var/log/nginx") }}/{{ name }}-access.log;
	error_log {{ nginx_log_dir | default("/var/log/nginx") }}/{{ name }}-error.log;
{% if params.auth_basic is defined %}
	auth_basic "{{ params.auth_basic.realm }}";
	auth_basic_user_file {{ params.auth_basic.user_file }};
{% endif %}
{% if params.extra_config is defined %}
{# Jinja2 doesn't support indenting with tabs #}
{{ params.extra_config.split("\n") | map("regex_replace", "(.*)", "	\\1") | join("\n") }}
{% endif %}
}
